:root {
  --term-green: #0ED839;
}

.footer__inner .copyright {
    font-size: 0.7rem;
}


.logo {
    font-family: monospace;
}

.post-cover {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    box-shadow: 0 12px 40px rgba(0,0,0,.15);
}

.logo__cursor { 
    background: var(--term-green);
    border-radius: 1px;
    animation: cursor 1.2s infinite;
}

.logo__text::before {
    color: var(--term-green);
    content: "$";
    margin-right: 0.5rem;
    display: inline-flex;
}

.logo__mark {
    display: none;
}

.credits {
    color: var(--dark-color-secondary);
    padding: 40px 20px;
    flex-grow: 0;
    text-align: center;
    font-size: 0.7rem;
}

.credits>:first-child:not(:only-child) {
    border-right: 1px solid;
    padding-right: 10px;
    margin-right: 10px;

}

.footer__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 760px;
    max-width: 100%;
}

.footer__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
}

.footer__content>:not(:last-child) {
    border-right: 1px solid;
    padding: 0 15px;
    text-align: center;
}

.footer__content > :last-child {
    padding: 0 15px;
}

.menu {
    padding-right: 0px;
}

.entry-toc nav > ul {
    margin: 0;
}
.entry-toc ul {
    list-style: none;
}

#bg-text {
	font-family: monospace;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0.15;
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
	overflow-y: hidden;
	pointer-events: none;
	line-height: 1;
	font-size: 2rem;
}

.bg-line:before {
	content: attr(data-content);
	overflow-x: hidden;
	overflow-y: hidden;
	white-space: nowrap;
	speak: none;
}

body > div.container > div#bg-text-overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: var(--bg-light);
	opacity: 0.80;
	pointer-events: none;
}

